<h1>Api#getTimeTable</h1>
<p>Find me in app/views/api/getTimeTable.html.erb</p>
<h3>Json Input</h3>
<h4>Teachers</h4>
<p><%= @teachers_json %></p>
<h4>Class Groups</h4>
<p><%= @class_groups_json %></p>
