<h3>Teachers</h3>

<button type="button" class="btn btn-primary">Add Teacher</button>

<br>
<br>
<br>


<table id="teachers" class="display" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Working Hours</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Aman</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
  </tr>
  <tr>
    <td>Prem</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
  </tr>
  <tr>
    <td>Mani</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
  </tr>
  <tr>
    <td>Ashwini</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
  </tr>
  </tbody>
</table>

