<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <%= link_to 'Timetable Generator', root_path, class: 'navbar-brand' %>
        </div>

        <div>
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Get Timetable', api_getTimeTable_path %></li>
            </ul>
        </div>
</nav>
<br/>
<br/>
