
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">Basic</a>
    </li>
    <li><%= link_to 'Teachers' , subjects_url %></li>
    <li><%= link_to 'Teachers' , teachers_url %></li>
    <li><a href="#">Classes</a></li>
    <li><a href="#">ClassGroups</a></li>
    <li class="sidebar-brand">Mappings</li>
    <li><a href="#">Teacher Vs Subject</a></li>
    <li><a href="#">ClassGroups Vs Subject</a></li>


    <li class="sidebar-brand">Constraints</li>
    <li><a href="#">General</a></li>
  </ul>
</div>